<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="group6database" connectionString="Data Source=group6database.database.windows.net;
         Initial Catalog=Group6database; User=group6database; Password=CheapueProject@"/>
	</connectionStrings>
</configuration>


